<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inicio-sesion/css/inicio_sesion.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="formulario">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
            <button type="button"><a href="{% url 'index' %}" class="btn-sin-iniciar-sesion">Ingresar sin iniciar
                    sesión</a></button>
        </form>
        <a href="{% url 'register' %}">No tengo cuenta. Regístrate aquí.</a>
    </div>

    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message.message }}',
                showConfirmButton: true
            });
            {% endfor %}
        });
    </script>
    {% endif %}
</body>

</html>