<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inicio-sesion/css/inicio_sesion.css' %}">
</head>

<body>
    <div class="formulario">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
            <button type="submit"><a href="{% url 'index' %}" class="btn-sin-iniciar-sesion">Ingresar sin iniciar
                    sesión</a> </button>
        </form>
        <a href="{% url 'register' %}">No tengo cuenta. Regístrate aquí.</a>
    </div>
</body>

</html>