<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'play/css/play.css' %}">
</head>

<body>
    <header>
        <div class="menu-superior">
            <ul>
                <li>contactos</li>
                <li>los mejores juegos</li>
                <li>redes sociales <img class="icon" src="{% static 'play/img/facebook.svg' %}" alt="">
                    <img class="icon" src="{% static 'play/img/instagram (2).svg'%}" alt="">
                    <img class="icon" src="{% static 'play/img/whatsapp (2).svg'%}" alt="">
                </li>
            </ul>

        </div>

    </header>

    <div class="search">

        <div class="col-XS-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="exampleDataList" class="form-label">BUSQUE SU JUEGO AQUI!</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="buscar...">
        </div>

    </div>

    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{% url 'index' %}">HYPER GAMES</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#juegos">juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./carrito.html">carrito de compra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./juegos-exclusivo-ps.html">juegos exclusivos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ubicacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'play/img/eldenring.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'play/img/cr7fifa.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'play/img/gowragnarok.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row" id="juegoRow"></div>

    </div>

    <footer>
        <div class="container">
            <div class="row d-flex justify-content-evenly">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <ul>
                        <li>horarios de atencion</li>
                        <li>lunes a viernes</li>
                        <li>de 8am a17:30pm</li>
                        <li>email: hypergames@gmail.com</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <ul>
                        <li>contacto</li>
                        <li>contactenos a traves de</li>
                        <li>redes sociales o al email</li>
                        <li>email: hypergames@gmail.com</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <ul>
                        <li>preguntas frecuentes</li>
                        <li>¿devoluciones?</li>
                        <li>garantias</li>
                        <li>problemas</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="module" src="{% static 'play/js/index2.js' %}"></script>
</body>

</html>