body {
    background-image: url(../img/backgraund\ pstation.jpg);
}

header {
    background-color: rgb(20, 54, 223);
}

header:hover {
    background-color: rgb(187, 168, 24);
    cursor: pointer;
    transition: .2s ease-in;
}

.menu-superior li:hover {
    color: black;
}

.menu-superior ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.menu-superior li {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#gameDetails {
    text-align: center;

}

#gameDetails img {
    max-width: 100%;

    height: auto;

    max-height: 400px;

    display: block;

    margin: 0 auto;

}

#gameDetails P {
    color: white;
}

#gameDetails h2 {
    color: white;
}